@font-face {
    font-family: 'Roboto';
    src: url(assets/Roboto/Roboto-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 10vh;
}
p {
    color: #222;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 5vh;
}

/* HEADER */
header {
    background: linear-gradient(315deg, #ce93d8, #ffe082);
}
#memoji {
    height: 50vh;
    display: block;
    margin: 5vh;
}
#brighter-text {
    background: linear-gradient(315deg, #4884EE, #06BCFB);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* MAIN */
main {
    background: #eee;
}
.socials {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-top: 15vh;
    flex-wrap: wrap;
}
.socials img {
    height: 10vh;
}